.container {
  width: 400.36px;
  height: 143.57px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 36px 32px;
}
.title {
  color: #4f4f4f;
  font-size: 18px;
}
